/* a=0 b=0 c=1 001*/
h1{    
    border-radius: 20px;    
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    background-color:darkslategray;
    color: white;
}

/* a=1 b=0 c=0 100*/
#calculator {
  width: 330px;
  height: auto;
  margin: auto;
  padding: 2% 2% 2% 2%;
  background-color: darkslategray;
  color:white;
  border-radius: 4px;
  border-color: darkcyan;
}

/* a=0 b=2 c=1 021*/
.top input.screen {
  height: 40px;
  width: 212px;
  padding: 0.5% 12%;
  margin-bottom: 5px;
  background-color: darkseagreen;
  border-radius: 2px;  
  font-size: 17px;
  line-height: 40px;
  color: black;
  text-align: right;
  letter-spacing: 1px;
}


/*a=0 b=1 c=1 011*/
.buttons input {
  position: relative;
  cursor: pointer;
  width: 65px;
  height: 40px;
  background: white;
  border-radius: 33px;
  margin: 0px 7px 11px 1px;
  color: darkgray;
  line-height: 36px;
  text-align: center;
  
}



