/* 1 */
body{
    background-color: burlywood;
}
/* 1 */
h1{
    text-align: left;
    color: black;
}
th{
    color:whitesmoke;
}
/* 10 */
.calculadora{
    border: 3px #424949 ridge;
    width: 300px;
    text-align: center;
    background-color: #424949;
    border-radius: 4%;
}
#resultado{
    display: block;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    width: 11.5em;
    height: 3em;
    background-color: gainsboro;
    overflow-x: scroll;
}
/* 12 */
.calculadora td button {
    width: 60px;
    padding: 0;
    font-size: 20px;
    margin: 10px;
}
/* 10 */
.memoria{
    background-color: black;
    color: white;
    margin: 10px;
}
/* 10 */
.operacion{
    background-color: black;
    color: white;
    margin: 10px;
}
/* 10 */
.digitos{
    background-color: black;
    color: white;
    margin: 10px;
}
/* 10 */
.punto{
    background-color: black;
    color: white;
    margin: 10px;
}
/* 10 */
.borrar{
    background-color: black;
    color: white;
    margin: 10px;
}
/* 10 */
.igual{
    background-color: black;
    color: white;
    margin: 10px;
}



